body {
    background-color: rgb(240, 245, 194);
}

form {
    margin: 10px;
}

input {
    margin: 10px;
    border: 1px solid;
}


.animal-btn {
    border: 1px solid;
    margin: 5px;
    color: black;
    border-radius: 55px;
    background-image: linear-gradient(pink,red) ;
    height: 35px;
    width: 75px;
    outline: none;
}

.animal-btn:hover {
    background-image:linear-gradient(red,pink); 
}

.animal-btn:active {
    position: relative;
    top:2px;
}

#buttons-view {
    padding-top: 50px;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
}



